body {
  background-color: #222;
  font-family: Helvetica, Arial, sans-serif;
  font-display: optional;
}
main {
  width: 660px;
  margin: 50px auto 0 auto;
  color: #f1f1f1;
}
time, aside.author {
  font-size: 15px;
  color: #555;
  display: block;
}
article h1 {
  font-size: 60px;
  font-weight: 100;
}
article p {
  font-family: 'Lora', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 23px;
  line-height: 35px;
  margin-bottom: 27px;
}
aside.author {
  margin-top: 70px;
}